/* Import Noto Sans TC, Noto Serif TC, and Raleway from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Raleway:wght@400;700&display=swap');

body, .fabric-text, .noto-sans-tc {
  font-family: 'Noto Sans TC', sans-serif;
}
.noto-serif-tc {
  font-family: 'Noto Serif TC', serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
